<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <div class="container-child col-md-2 col-sm-4 col-xs-6">
      <!--<%= profile_img(user) %>-->
      <% if user.provider == "twitter" || user.provider == "facebook" %>
        <%= image_tag user.image_url, size: '50x50' %><br />
      <% else %>
        <%= image_tag user.avatar, size: '50x50' %><br />
      <% end %>
      <%= user.name %>さん<br />
      <%= user.email %><br />
      <%= render 'follow_form', user: user %>
      <%= link_to "詳細", user_path(user.id), medhod: :show, class: 'btn btn-default btn-sm btn btn-default' %>
    </div>
  <% end %>
</div>
